@keyframes fade-in {
  from{opacity: 0.0;}
  to{opacity: 1.0;}
}
@keyframes project-fade-in {
  from{opacity: 0.5;}
  tp{opacity: 1;}
}
body{
  overflow-x: hidden;
  font-family: helvetica;
}
.main-container{
  padding-top: 40px;
  animation-name: fade-in;
  animation-duration: 2s;
}
.projectImages{
  display: inline-block;
  padding-left: 100px;
}
#testProj{
  opacity: 0.5;
}
#testProj:hover{
  animation-name: project-fade-in;
  animation-duration: 1s;
  opacity: 1;
}
