body{
  overflow-x: hidden;
  background-image: url("giphy.gif");
  background-position: top center;
  background-attachment: scroll;
  background-size: cover;
}
.branding{
  position:fixed;
  bottom:0px;
}
.jumbotron{
  background: rgba(225, 225, 225, 0.3);
  color: black;
}
.image{
  width: auto;
  height: auto;
}
