body{
  overflow-x:hidden;
  background-image: url("background1.png");
  background-size: cover;
}
@keyframes fade-in-effect {
  from{opacity: 0.3;}
  to{opacity: 1;}
}
.jumbotron{
  background: rgb(225,225,225,0.3);
  color:black;
}
.well{
  border: none;
  background: rgb(225,225,225,0.3);
  color:black;
}
#hoverEffect{
  opacity: 0.3;
}
#hoverEffect:hover{
  opacity: 1;
  animation-name: fade-in-effect;
  animation-duration: 2s;

}
